/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@font-face {
  font-family: 'Jasper Daniels';
  src: url("/JasperDaniels.woff2") format("woff2"), url("/JasperDaniels.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: lighter; }
  body.dark {
    background: black;
    color: white; }
    body.dark section .section-title, body.dark a {
      color: white; }
    body.dark .inline-svg {
      width: 2rem;
      height: 2rem; }

.container {
  margin: 100px auto;
  width: 80%;
  max-width: 1200px; }
  .container.container-live {
    width: 100%;
    margin: 0 auto; }
  .container .nav {
    display: flex;
    padding: 30px; }
    .container .nav .nav-item {
      flex: 1;
      text-align: center; }
      .container .nav .nav-item .nav-link {
        color: black;
        font-size: 24px;
        font-family: 'Jasper Daniels';
        text-decoration: none;
        transition: border-bottom-color .3s;
        border-bottom: 2px solid transparent; }
        .container .nav .nav-item .nav-link.active, .container .nav .nav-item .nav-link:hover {
          border-bottom: 2px solid #3F5E6A; }
  .container section {
    margin-bottom: 50px; }
    .container section .section-title {
      text-align: center;
      font-family: 'Jasper Daniels';
      color: black;
      font-size: 42px;
      padding: 30px;
      padding-top: 0; }
    .container section .row {
      margin-left: -30px;
      margin-right: -30px;
      display: flex;
      flex-wrap: wrap-reverse; }
      .container section .row .col {
        flex: 1;
        padding-left: 30px;
        padding-right: 30px;
        min-width: 400px; }
        .container section .row .col.col-bg-black {
          background: black; }

p {
  margin-top: 0; }

.center {
  text-align: center; }

.muted {
  opacity: .4; }

a {
  color: #3F5E6A;
  transition: color .4s;
  text-decoration: none; }
  a:hover {
    color: #723857; }
  a.icon {
    font-size: 30px;
    margin: 10px; }
  a.block {
    display: block;
    margin-bottom: 30px; }

.bit-top-track-button, .bit-nav-bar-container {
  display: none !important; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.image-container {
  background: url("/dave-herring2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 150px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; }
  .image-container.big {
    height: 600px; }
  .image-container img.logo {
    width: 260px;
    opacity: 0;
    animation: fade-in 5s;
    animation-fill-mode: both;
    animation-delay: .3s; }
  .image-container h2 {
    font-weight: normal;
    margin-top: 40px;
    animation: fade-in 5s;
    animation-fill-mode: both;
    animation-delay: .8s; }

.image-container-promo {
  background-image: url("/fotos/band3.jpg");
  background-attachment: initial; }

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.27198%; }

.video-container iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img.photo {
  width: 100%; }

img.photo-bio {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 30px;
  float: right; }
  @media only screen and (max-width: 900px) {
    img.photo-bio {
      margin-left: 0;
      width: 100%;
      float: none; } }

.clearfix::after {
  clear: both;
  display: block;
  content: ''; }

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative; }

#bio .bio-dutch {
  display: none; }

#bio .bio-english {
  display: block; }

#bio .toggle-dutch {
  display: block; }

#bio .toggle-english {
  display: none; }

#bio.show-dutch .bio-dutch {
  display: block; }

#bio.show-dutch .bio-english {
  display: none; }

#bio.show-dutch .toggle-dutch {
  display: none; }

#bio.show-dutch .toggle-english {
  display: block; }

.container-blind-promo {
  background: black;
  margin: 0;
  padding: 50px;
  width: 100%;
  max-width: none;
  min-height: 800px; }
  .container-blind-promo h1 {
    color: #881E0A;
    font-size: 30px;
    margin-bottom: 30px; }
  .container-blind-promo a.icon {
    color: white; }
