
$col-blue: #568ea3;
$col-blue-2: #68c3d4;
$col-drab: #65532f;
$col-pine: #262a10;
$col-white: #f7f7f2;

// green
$c-green-dark: #007c58;
$c-green: #00a676;
$c-green-lightest: #d4f5eb;

// yellow
$c-yellow-dark: #a07500;
$c-yellow: #fcba04;
$c-yellow-lightest: #fff3d3;

// red
$c-red-dark: #ad3b1f;
$c-red: #f06543;
$c-red-lightest: #fce3dd;

$col-spotify: #1DB954;

$col-bg: black;
$col-text: white;

$col-accent: $col-drab;
$col-brand: $col-blue;
$col-link: $col-blue-2;
$col-link-hover: $col-blue;
$col-dark: $col-pine;

$col-negative: $c-red; 
$col-negative-bg: $c-red-lightest; 

$col-positive: $c-green; 
$col-positive-bg: $c-green-lightest; 