<p>Email: <a href="mailto:me@jonathanrhodes.nl">me@jonathanrhodes.nl</a></p>
    <p>Phone: +31 6 112 01 871</p>

    <p>Website: <a href="/">www.jonathanrhodes.nl</a></p>

    <p>
      Spotify:
      <a href="/landing/spotify" target="_blank"
        >https://jonathanrhodes.nl/landing/spotify</a
      >
    </p>

    <p>
      YouTube:
      <a href="/landing/youtube" target="_blank"
        >https://jonathanrhodes.nl/landing/youtube</a
      >
    </p>

    <p>
      Instagram:
      <a href="/landing/instagram" target="_blank"
        >https://jonathanrhodes.nl/landing/instagram</a
      >
    </p>

    <p>
      Facebook:
      <a href="/landing/facebook" target="_blank"
        >https://jonathanrhodes.nl/landing/facebook</a
      >
    </p>